body {
  margin-top: 60px;
  background-color: #F9E0AE;
}
h1
{
	padding-top: 32px;
	font-size:28px;
}

img
{
	border-radius: 2%;
    
}
.container
{
	text-align: center;
	background-color: #FFF9B0;
	border-radius: 2%;
	border: none;
}

.thumbnail
{
	padding: 26px;
}
.caption.text-center
{
	padding: 26px;
	font-size: 24px;
	font-weight: bold;
}
.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #FAD586;

	border-radius: 20%;
}
a
{
	text-decoration: none;
}